# ipsec.secrets - strongSwan IPsec secrets file
# filename of private key located in /etc/strongswan/ipsec.d/private/
: RSA privkey.pem

# syntax is `username : EAP "plaintextpassword"`
cooluser : EAP "coolpassword"
